<h1>Welcome User!</h1>

<p><%= link_to 'Notifications', '#' %></p>

<p><%= button_to 'Explore National Parks', '#' %></p>

<div id="current_trip">
  <h2>Current Trip</h2>
</div>

<div id="upcoming_trips">
  <h2>Upcoming Trips</h2>
</div>

<div id="past_trips">
  <h2>Past Trips</h2>
</div>

<div id="travel_buddies">
  <h2>Travel Buddies</h2>
</div>
