<h1>Category: <%= @checklist.category %></h1>
<hr><br>

<ol>
  <% @checklist.item_list.each do |item| %>
    <li>
      <%= form_with do |f| %>
        <%= f.text_field :name, value: "#{item.name}" %>
        <%= f.submit "Edit Name" %>
      <% end %>
    </li>
    <br>
  <% end %>
</ol>