<link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">
<section class="banner">
  

  
  <label for="menu-control" class="hamburger">
    <i class="hamburger__icon"></i>
    <i class="hamburger__icon"></i>
    <i class="hamburger__icon"></i>
  </label>
  
  <input type="checkbox" id="menu-control" class="menu-control">
  
  <aside class="sidebar">
    
    <nav class="sidebar__menu">
      <a href="">Home</a>
      <a href="">About us</a>
      <a href="">Services</a>
      <a href="">Products</a>
      <a href="">Contact</a>
    </nav>
    
    <label for="menu-control" class="sidebar__close"></label>
  </aside>
  
  
</section>