<div class="login_background ">
  <figure class="text-center">
    <blockquote class="blockquote">
      <h3 class="display-5 lead">Welcome Page/ Login Page</h3>
    </blockquote>
  </figure>

  <button type="button" onclick="location.href='/auth/spotify'" class="btn btn-outline-success login_button">
    <%= image_tag('spotify.svg', "data-svg-fallback" => image_path('/app/assets/images/spotify.svg'), :align=> "left") %>
    Sign in with Spotify
  </button>
</div>
