<h1>NP Show Page</h1>

<h1>Park Name</h1>
<%= link_to 'Create A Trip To This Park!', trips_dashboard_index_path, method: :post, %>

<p>park image</p>

<h3>Activities At This Park:</h3>

<h3>Accommodations At This Park:</h3>

<div>
<p>Description</p>
<p>State</p>
<p>Contact Inforomation</p>
<p>Standard hours</p>
<p>Entry Fee</p>
<p>Closures</p>


</div>